﻿@model LibreriaClases.DTO.DTOCrearPublicacion
@{
    ViewBag.Title = "CrearPublicacion";
    Layout = "~/Views/Shared/PanelControl2.cshtml";
}
@section Styles{
    <link href="~/Estilos/EstilosMapa.css" rel="stylesheet" />
}
<h2 class="alert alert-dark">Crear Publicación</h2>
<hr />
@if (!String.IsNullOrEmpty(ViewBag.OperacionBloqueada))
{
    <p>@ViewBag.OperacionBloqueada</p>
}
else
{
    <form action="@Url.Action("CrearPublicacion","Publicacion")" method="post" enctype="multipart/form-data">
        @if (!String.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false)
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6><i class="fas fa-globe-americas mr-3"></i>Ubicación</h6>
                    </div>

                    <div class="card-body">
                        <div id="map" class="img-fluid">

                        </div>
                    </div>
                </div>

                <input class="form-control" type="text" name="ubicacion" id="pac-input" value="" placeholder="Ingrese la dirección de su propiedad" maxlength="256" min="3" required />
            </div>



        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-header">
                        <h6> <i class="fas fa-dharmachakra mr-3"></i>Tipo de operación</h6>
                    </div>
                    <div class="card-body">
                        <select class="form-control" name="tipoPublicacion">
                            @foreach (var item in Model.listadoTiposPublicaciones)
                            {
                                <option value="@item.tipoPublicacionId">@item.nombreTipoPublicacion</option>
                            }

                        </select>
                    </div>


                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-header">
                        <h6> <i class="fas fa-user-tie mr-3"></i>Tipo de publicante</h6>
                    </div>
                    <div class="card-body">
                        <select class="form-control" name="tipoPublicante">
                            @foreach (var item in Model.listadoTiposPublicantes)
                            {
                                <option value="@item.tipoPublicanteId">@item.nombreTipoPublicante</option>
                            }

                        </select>
                    </div>


                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-header">
                        <h6> <i class="fas fa-igloo mr-3"></i>Tipo de propiedad</h6>
                    </div>
                    <div class="card-body">
                        <select class="form-control" name="tipoPropiedad">
                            @foreach (var item in Model.listadoTiposPropiedades)
                            {
                                <option value="@item.tipoPropiedadId">@item.nombreTipoPropiedad</option>
                            }

                        </select>
                    </div>


                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-header">
                        <h6> <i class="fas fa-tools mr-3"></i>Tipo de construcción</h6>
                    </div>
                    <div class="card-body">
                        <select class="form-control" name="tipoConstruccion">
                            @foreach (var item in Model.listadoTiposConstruccion)
                            {
                                <option value="@item.tipoConstruccionId">@item.nombreTipoConstruccion</option>
                            }

                        </select>
                    </div>


                </div>
            </div>
        </div>
        <hr />
        <div class="row justify-content-center">



            @foreach (var item in Model.listadoTiposAmbientes)
            {
                <div class="form-group">
                    <label for="@item.nombreTipoAmbiente" class="col-sm-2 col-form-label">@item.nombreTipoAmbiente</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="@item.nombreTipoAmbiente" name="@item.nombreTipoAmbiente" value="0" placeholder="Cantidad">
                    </div>
                </div>
            }
        </div>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light">
                    <div class="card-header">
                        <h6> <i class="fas fa-building mr-3"></i>Superficie, antiguedad y otros datos</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Sup. Terreno</span>
                                    </div>
                                    <input type="number" name="supTerreno" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Ej: 350">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">M^2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Sup. Cubierta</span>
                                    </div>
                                    <input type="number" name="supCubierta" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Ej: 350">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">M^2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Antiguedad</span>
                                    </div>
                                    <input type="number" class="form-control" name="antiguedad" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="0" placeholder="Antiguedad en años. Ej: 5.">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">Años</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">N° Pisos</span>
                                    </div>
                                    <input type="text" class="form-control" name="pisos" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="1" placeholder="Número de pisos. Ej: 1.">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="amueblado" value="true" id="defaultCheck1">
                                    <input type="hidden" name="amueblado" value="false" />
                                    <label class="form-check-label" for="defaultCheck1">
                                        Amueblado
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">¿La propiedad paga expensas?</label>
                                    </div>
                                    <select class="custom-select" id="pagaExpensas">
                                        <option value="No">No</option>
                                        <option value="Si">Si</option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">¿Cuanto?</span>
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" id="valorExpensas" class="form-control" name="expensasUltimoMes" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Importe del último mes" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Agregar Extras
                            </button>
                        </div>

                    </div>


                </div>

            </div>
            <div class="col-md-4">


            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-light">
                    <div class="card-header">
                        <h6><i class="fas fa-money-bill mr-3"></i>Precio.</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Valor</span>
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="number" name="precioPropiedad" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" value="0" placeholder="Ej: 3.500.000,00">
                                </div>
                            </div>
                            <div class="col-md-4">
                                @foreach (var item in Model.listadoTiposMonedas)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="moneda" id="@item.tipoMonedaId" value="@item.tipoMonedaId" checked>
                                        <label class="form-check-label" for="@item.tipoMonedaId">
                                            @item.denominacionMoneda
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-light">
                    <div class="card-header">
                        <h6><i class="fas fa-feather-alt mr-3"></i>Reseña</h6>
                    </div>
                    <div class="card-body">
                        <textarea style="max-width:100%" class="form-control" rows="5" cols="20" name="reseña" placeholder="Escriba una reseña de su inmueble."></textarea>
                    </div>
                </div>
            </div>

        </div>
        <hr />

        <div class="card bg-light">
            <div class="card-header">
                <h6><i class="fas fa-camera-retro mr-3"></i>Imágenes</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    @for (int i = 0; i < Model.cantidadImagenesDisponibles; i++)
                    {
                        int j = i + 1;
                        <div class="col-md-3">
                            <input class="custom-file" type="file" name="imagen-@j" value="" />

                        </div>
                    }


                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Extras</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @foreach (var item in Model.listadoCaracteristicas)
                        {
                            <div class="form-check">
                                <input class="form-check-input" name="extras" type="checkbox" value="@item.caracteristicaId" id="@item.caracteristicaId">
                                <label class="form-check-label" for="@item.caracteristicaId">
                                    @item.nombreCaracteristica
                                </label>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-lg btn-outline-success btn-block">Enviar</button>



        </div>

    </form>
}



@section scripts{
    <script src="~/Scripts/AutocompletadoGoogleMaps.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYs2ZkTPnJsgVZSiiGjCMw9C81tu7JViw&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script>
        $(function () {


            $('#pagaExpensas').on('change', function () {

                if ($(this).val() == "No") {
                    $('input[name=expensasUltimoMes]').prop('disabled', true);
                } else {
                    $('input[name=expensasUltimoMes]').prop('disabled', false);
                }


            });
        });
    </script>

}
