﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Propy</title>

    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Estilos/MisEstilos.css" rel="stylesheet" />
    <script src="~/Scripts/ActualizarCredito.js" async="async"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>


<body onpageshow="ActualizarCredito();">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top ">
        <div class="container">
            <div class="col-1">
                @Html.ActionLink("Propy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarbotton">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarbotton">
                <div class="col">
                    <ul class="navbar-nav ">
                        <li class="nav-item mx-lg-2">
                            @Html.ActionLink("Inicio", "Index", "Home", htmlAttributes: new { @style = "text-decoration:none; color: white;" })
                        </li>
                        <li class="nav-item mx-lg-2">
                            @Html.ActionLink("Acerca de", "About", "Home", htmlAttributes: new { @style = "text-decoration:none; color: white;" })
                        </li>
                        <li class="nav-item mx-lg-2">
                            @Html.ActionLink("Contacto", "Contact", "Home", htmlAttributes: new { @style = "text-decoration:none; color: white;" })
                        </li>
                        <li class="nav-item mx-lg-2">
                            @Html.ActionLink("Preguntas Frecuentes", "Frequents", "Home", htmlAttributes: new { @style = "text-decoration:none; color: white;" })
                        </li>
                    </ul>
                </div>
                <div class="col ">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>


    <div>

        @RenderBody()
        <hr />
        <footer class="Pie">
            <h4>¡Propy! Creada para satisfacer tus necesidades.</h4>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-dark btn-lg">¿Qué es Propy?</button>
                    
                    
                </div>
                <div class="col-md-4">
                    <button class="btn btn-outline-dark btn-lg">¿Cómo funciona Propy?</button>
                   
                </div>
                <div class="col-md-4">
                    <button class="btn btn-outline-dark btn-lg">Contacto</button>
                    
                </div>
            </div>
            
            <br />
            <p>&copy; @DateTime.Now.Year - Propy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)
    
    
</body>
</html>
