﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Propy - Panel de Control</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Template/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <link href="~/Estilos/MisEstilos.css" rel="stylesheet" />
    <script src="~/Scripts/POSTasyncPanelAdministrador.js" async="async"></script>
</head>

<body class="sb-nav-fixed" >

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        @Html.ActionLink("Propy", "Index", "Home", null, new { @class = "navbar-brand" })<button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar-->
        <div class="container-fluid row">
            <div class="col">
                <ul class="navbar-nav justify-content-end ">
                    <li class="nav-item mt-2" style="color:white;">Mis créditos: <label id="ActualizarCreditos"> </label></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login.html">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Inicio</div>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Panel de Control
                        </a>
                        <div class="sb-sidenav-menu-heading">Menú Principal</div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Propiedad" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class=""></i></div>
                            Gestión de propiedad
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="Propiedad" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Crear un nuevo tipo de propiedad", "CrearTipoPropiedad", "ABTipoPropiedad", null, new { @class = "nav-link" })
                                @Html.ActionLink("Eliminar un tipo de propiedad", "EliminarTipoPropiedad", "ABTipoPropiedad", null, new { @class = "nav-link" })
                                @Html.ActionLink("Asignar ambientes a una propiedad", "AsignarTipoPropiedadTipoAmbiente", "ABMTipoPropiedadTipoAmbiente", null, new { @class = "nav-link" })
                                @Html.ActionLink("Eliminar ambientes de una propiedad", "EliminarTipoPropiedadTipoAmbiente", "ABMTipoPropiedadTipoAmbiente", null, new { @class = "nav-link" })
                                @Html.ActionLink("Asignar características a una propiedad", "AsignarTipoPropiedadTipoCaracterística", "ABTipoPropiedadTipoCaracteristica", null, new { @class = "nav-link" })
                                @Html.ActionLink("Eliminar características a una propiedad", "EliminarTipoPropiedadTipoCaracterística", "ABTipoPropiedadTipoCaracteristica", null, new { @class = "nav-link" })

                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Ambiente" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class=""></i></div>
                            Gestión de ambientes
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="Ambiente" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Crear ambiente", "AgregarAmbiente", "ABambiente", null, new { @class = "nav-link" })
                                @Html.ActionLink("Eliminar ambiente", "EliminarAmbiente", "ABambiente", null, new { @class = "nav-link" })
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Caracteristicas" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon "><i class=""></i></div>
                            Gestión de características de la propiedad
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="Caracteristicas" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Crear característica", "CrearCaracteristica", "ABCaracteristica", null, new { @class = "nav-link" })
                                @Html.ActionLink("Eliminar característica", "EliminarCaracteristica", "ABCaracteristica", null, new { @class = "nav-link" })
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Plan" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon "><i class=""></i></div>
                            Gestión de plan
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="Plan" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Crear plan", "CrearPlan", "ABMPlan", null, new { @class = "nav-link" })
                                @Html.ActionLink("Editar plan", "EditarPlan", "ABMPlan", null, new { @class = "nav-link" })
                                @Html.ActionLink("Eliminar plan", "EliminarPlan", "ABMPlan", null, new { @class = "nav-link" })
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#UsuarioAdministrador" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon "><i class=""></i></div>
                            Gestión de usuario administrador
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="UsuarioAdministrador" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Crear usuario administrador", "CrearUsuarioAdministrador", "ABMUsuario", null, new { @class = "nav-link" })
                                @Html.ActionLink("Eliminar usuario administrador", "EliminarUsuarioAdministrador", "ABMUsuario", null, new { @class = "nav-link" })
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Usuario" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon "><i class=""></i></div>
                            Gestión de usuario
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="Usuario" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Corroborar datos del usuario", "CrearUsuarioAdministrador", "ABMUsuario", null, new { @class = "nav-link" })
                                @Html.ActionLink("Eliminar usuario por antiguedad sin uso", "EliminarUsuario", "ABMUsuario", null, new { @class = "nav-link" })
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Credito" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon "><i class=""></i></div>
                            Gestión de crédito
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="Credito" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Crear paquete de créditos", "CrearPaqueteCredito", "ABMCredito", null, new { @class = "nav-link" })
                                @Html.ActionLink("Editar paquete de créditos", "EditarPaqueteCredito", "ABMCredito", null, new { @class = "nav-link" })
                                @Html.ActionLink("Eliminar paquete de créditos", "EliminarPaqueteCredito", "ABMCredito", null, new { @class = "nav-link" })
                                @Html.ActionLink("Cambiar valor de descuento", "ValorDescuentoCredito", "ABMCredito", null, new { @class = "nav-link" })
                                @Html.ActionLink("Cambiar precio de crédito unitario", "PrecioUnitarioCredito", "ABMCredito", null, new { @class = "nav-link" })
                            </nav>
                        </div>

                        <div class="sb-sidenav-footer">
                            <div class="small">Logged in as:</div>
                            @User.Identity.Name
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">


                    @RenderBody()


                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Propy 2019</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    @RenderSection("styles", required: false)
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Template/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/Template/assets/demo/datatables-demo.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>


