﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Propy - Panel de Control</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Template/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <link href="~/Estilos/MisEstilos.css" rel="stylesheet" />
    <script src="~/Scripts/ActualizarCredito.js" async="async"></script>
    <script src="~/Scripts/ValidacionesRealizarPublicacion.js"></script>

</head>

<body class="sb-nav-fixed" onload="initialvalor();" onpageshow="ActualizarCredito();">

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        @Html.ActionLink("Propy", "Index", "Home", null, new { @class = "navbar-brand" })<button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar-->
        <div class="container-fluid row">
            <div class="col">
                <ul class="navbar-nav justify-content-end ">
                    <li class="nav-item mt-2" style="color:white;">Mis créditos: <label id="ActualizarCreditos"> </label></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            @Html.ActionLink("Actividad","ConsultarActividad","Usuario",null,new {@class="dropdown-item" })
                            
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Cerrar Sesión","Logout","Usuario",null,new {@class="dropdown-item" })
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Inicio</div>
                        
                        <div class="sb-nav-link-icon">@Html.ActionLink("Panel de Control", "Index", "PanelControl2", null, new { @class = "nav-link" })</div>
                            
                       
                        <div class="sb-sidenav-menu-heading">Menú Principal</div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Publicaciones" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                            Inmuebles
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="Publicaciones" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Mis publicaciones", "ListarPublicacionesPorUsuario", "Publicacion", null, new { @class = "nav-link" })
                                @Html.ActionLink("Crear publicación", "CrearPublicacion", "Publicacion", null, new { @class = "nav-link" })


                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Favoritos" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-crown"></i></div>
                            Favoritos
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="Favoritos" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Mi lista de favoritos", "ConsultarListaFavoritos", "Usuario", null, new { @class = "nav-link" })



                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#MiCuenta" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Mi cuenta
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="MiCuenta" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Registro de Actividad", "Index", "GestionarFavoritos", null, new { @class = "nav-link" })



                            </nav>
                        </div>

                        <div class="sb-sidenav-menu-heading">Facturación</div>
                        <a class=" nav-link collapse" data-toggle="collapse" data-target="#Creditos" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"></div>

                            @Html.ActionLink("Ver mis facturas", "ConsultarFacturas", "Facturacion", null, new { @class = "nav-link" })
                        </a>

                        <div class="sb-sidenav-menu-heading">Gestión de créditos</div>
                        <a class=" nav-link collapse" data-toggle="collapse" data-target="#Creditos" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"></div>

                            @Html.ActionLink("Comprar Créditos", "BuyCredits", "BuyCredits", null, new { @class = "nav-link" })
                        </a>

                        <div class="sb-sidenav-menu-heading">Gestión de plan</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Planes" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-signature"></i></div>
                            Planes
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="Planes" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    @Html.ActionLink("Comprar plan", "Index", "ContratarPlan", null, new { @class = "nav-link" })
                                </nav>
                                <nav class="sb-sidenav-menu-nested nav">
                                    @Html.ActionLink("Mi Plan", "ConsultarPlan", "GestionarPlan", null, new { @class = "nav-link" })
                                </nav>
                            </nav>
                        </div>



                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Tables
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    @User.Identity.Name
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">



                    <div>@RenderBody()</div>

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Propy 2019</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>



    @RenderSection("styles", required: false)
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Template/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/Template/assets/demo/datatables-demo.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>



