﻿@model WebApp.DTO.DTOFiltrosBusqueda

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Busqueda.cshtml";
}
@section Styles{
    <link href="~/Estilos/MisEstilos.css" rel="stylesheet" />
    <style>
        #map {
            height: 400px;
            width: 1000px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #description {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
        }

        #infowindow-content .title {
            font-weight: bold;
        }

        #infowindow-content {
            display: none;
        }

        #map #infowindow-content {
            display: inline;
        }

        .pac-card {
            margin: 10px 10px 0 0;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            font-family: Roboto;
        }

        #pac-container {
            padding-bottom: 12px;
            margin-right: 12px;
        }

        .pac-controls {
            display: inline-block;
            padding: 5px 11px;
        }

            .pac-controls label {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 300;
            }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 800px;
        }

            #pac-input:focus {
                border-color: #4d90fe;
            }

        #title {
            color: #fff;
            background-color: #4d90fe;
            font-size: 25px;
            font-weight: 500;
            padding: 6px 12px;
        }

        #target {
            width: 345px;
        }
    </style>
}





<div class="container">
    <br />
    <br />
    <br />
    <h1 class="Titulo">Búsqueda de Inmuebles</h1>

    @if (ViewBag.MensajeError != null)
    {
        <div class="alert alert-danger" role="alert">
            @foreach (string error in ViewBag.MensajeError)
            {
                <ul>
                    <li>@error</li>
                </ul>
            }
        </div>
    }
<form action="@Url.Action("Index","Busqueda")" method="post" onkeypress="return pulsar(event)" id="form">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />


    <p class="Nota">Complete la siguiente información para que el sistema encuentre y le muestre las propiedades que cumplen con sus criterios de búsqueda.</p>

    <br />
    <h4 class="Subtitulo">Ubicación</h4>
    <div class="Panel1">

        <div id="collapseOne" class="" role="tabpanel" aria-labelledby="headingOne">

            <div class="form-group">

                <div id="busquedaEspecifica" class="text-left">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="selectRadio">Quiero especificar mi radio de búsqueda en:</label>
                        </div>
                        <div class="col-sm-8">
                            <select id="selectRadio" name="radio" class="form-control">
                                <option value="-1">Sin especificar</option>
                                <option value="1">1 KM</option>
                                <option value="2">2 KM</option>
                                <option value="3">3 KM</option>
                            </select>
                        </div>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Ej: Godoy Cruz, Mendoza, Argentina" name="clientAddress" id="pac-input" />

                <div class="row justify-content-end">

                    <div class="col-sm-2">
                        <input id="lat" class="form-control" type="hidden" name="latitud" value="-1" />
                    </div>
                    <div class="col-sm-2">
                        <input id="long" class="form-control" type="hidden" name="longitud" value="-1" />
                    </div>
                </div>

                <br />

                <div id="map" class="img-fluid">

                </div>
                <small>
                    En el mapa se destacan los límites de la localidad donde Propy buscará las propiedades.
                    Si prefiere buscar en un área menor o en los límites entre dos localidades, a continuación indique el radio del
                    círculo de búsqueda alrededor de la posición del marcador mostrado en el mapa. Podrá mover el marcador haciendo click sobre él
                    para desplazarlo al lugar que desee que sea el centro de su círculo de búsqueda.
                </small>

            </div>

            <br />
            
        </div>
    </div>

    <br />
    <h4 class="Subtitulo">Propiedad</h4>
    <div class="Panel1">

        <div class="row">

            <div class="col-md-4 form-group">
                <label class="control-label">Tipo de Operación</label>
                <div class="text-left">
                    <small>
                        ¿Cuál es el tipo de operación que desea realizar?
                    </small>
                </div>
                <select class="form-control" name="tipoOperacion">
                    <option value="-1">Seleccione una opción</option>
                    @foreach (var item in Model.dtoTO)
                    {
                        <option value="@item.nombreTipoOperacion">@item.nombreTipoOperacion</option>
                    }

                </select>

            </div>

            <div class="col-md-4 form-group">

                <label class="control-label">Tipo de Propiedad</label>
                <div class="text-left">
                    <small>
                        ¿Qué tipo de propiedad está buscando?
                    </small>
                </div>
                <select class="form-control" name="tipoPropiedad" oninput="habilitarListboxs()">
                    <option value="-1">Seleccione una opción</option>
                    @foreach (var item in Model.dtoTP)
                    {
                        <option value="@item.nombreTipoPropiedad">@item.nombreTipoPropiedad</option>
                    }

                </select>

            </div>

            <div class="col-md-4 form-group">
                <label class="control-label">Tipo de Construcción</label>
                <div class="text-left">
                    <small>
                        ¿Qué tipo de construcción está buscando?
                    </small>
                </div>
                <select class="form-control" name="tipoConstruccion">
                    <option value="-1">Seleccione una opción</option>
                    @foreach (var item in Model.dtoTC)
                    {
                        <option value="@item.nombreTipoConstruccion">@item.nombreTipoConstruccion</option>
                    }

                </select>
            </div>
        </div>

    </div>

    <br />
    <h4 class="Subtitulo">Características</h4>
    <div class="Panel1">
        <div class="text-left">
            <small>
                Debe seleccionar un tipo de propiedad para habilitar las características.
            </small>
        </div>
        <row class="row">
            <div class="col-2">
                <label class="control-label "><input class="form-control Inputs" id="cantidadDormitorios" name="cantidadDormitorios" type="number" min="0" max="50" placeholder="0" disabled="disabled" />Dormitorios</label>
            </div>
            <div class="col-2">
                <label class="control-label"><input class="form-control Inputs" id="cantidadAmbientes" name="cantidadAmbientes" type="number" min="0" max="50" placeholder="0" disabled="disabled" />Ambientes</label>
            </div>
            <div class="col-2">
                <label class="control-label"><input class="form-control Inputs" id="cantidadBaños" name="cantidadBaños" type="number" min="0" max="50" placeholder="0" disabled="disabled" />Baños</label>
            </div>
            <div class="col-2">
                <label class="control-label"><input class="form-control Inputs" id="cantidadCocheras" name="cantidadCocheras" type="number" min="0" max="500" placeholder="0" disabled="disabled" />Cocheras</label>
            </div>
            <div class="col-2">
                <label class="control-label"><input class="form-control Inputs" id="cantidadPlantas" name="cantidadPlantas" type="number" min="0" max="2000" placeholder="0" disabled="disabled" />Plantas</label>
            </div>
            <div class="col-2">
                <label class="control-label"><input class="form-control Inputs" id="añosAntiguedad" name="antiguedad" type="number" min="0" max="2000" placeholder="0" disabled="disabled" />Antigüedad</label>
            </div>

        </row>
        <h6 class="text-left text-dark">Superficie del terreno</h6>
        <div class="">
            <row class="row">
                <div class="col-2">
                    <label class="control-label" for="SupTMin">Mínima:</label>
                    <input class="form-control Inputs" type="text" name="SupTMin" id="SupTMin" placeholder="0" min="1" oninput="formatsurfaceyear(this);" disabled="disabled" />
                </div>
                <div class="col-2">
                    <label class="control-label" for="SupTMax">Máxima:</label>
                    <input class="form-control Inputs" type="text" name="SupTMax" id="SupTMax" placeholder="0" min="1" oninput="formatsurfaceyear(this);" disabled="disabled" />
                </div>
            </row>
            <row class="row">
                <div class="col-12 text-left">
                    <small>La unidad de la superficie se considera en hectáreas</small>
                </div>
            </row>
        </div>

    </div>

    <br />
    <h4 class="Subtitulo">Precio</h4>
    <div class="Panel1">
        <div class="text-left">
            <small>
                ¿En qué rango de precios desea buscar? Si no ingresa información aparecerán
                todas las propiedades que cumplan los restantes criterios de búsqueda.
            </small>
        </div>
        <div class="row ">
            <div class="col-md-2">
                @Html.LabelFor(model => model.tipoMoneda, htmlAttributes: new { @class = "control-label " })
                <div class="form-check text-left offset-1">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input " name="tipoMoneda" value="-1" onclick="desactivarprecio2(this)" checked>Sin preferencia
                    </label>
                </div>
                @foreach (var tipomoneda in Model.dtoTM)
                {
                    <div class="form-check text-left offset-1">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="tipoMoneda" value="@tipomoneda.nombreTipoMoneda" onclick="desactivarprecio2(this)">@tipomoneda.nombreTipoMoneda
                        </label>
                    </div>
                }
            </div>

            <div class="col-md-8">
                <row class="row">
                    <div class="col-12 text-left">
                        <label class="control-label ">Rango de precios: </label>
                    </div>
                </row>
                <div class="row">
                    <div class="col-md-6" style="margin-top:5px;">
                        <input type="text" class="form-control Inputs" id="precioDesde" name="precioDesde" placeholder="Precio mínimo" disabled="disabled" oninput="format(this)">
                    </div>

                    <div class="col-md-6" style="margin-top:5px;">
                        <input class="form-control Inputs" type="text" id="precioHasta" name="precioHasta" placeholder="Precio máximo" disabled="disabled" oninput="format(this)">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <small>
                Se mostrarán todas las propiedades que se encuentren dentro del rango especificado,
                tanto las publicadas con sus precios en la moneda elegida como las publicadas con sus precios en la otra moneda.
                El sistema efectúa una conversión aproximada entre monedas aplicando la cotización oficial
            </small>
        </div>
    </div>

    <br />
    <h4 class="Subtitulo">Extras</h4>
    <div class="Panel1">
                    
                <p>
                    Si desea refinar la búsqueda, a continuación marque las características que debe tener la propiedad:
                </p>
            
            <div>
                <!-- Button trigger modal -->

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Agregar Extras
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Extras</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Tipo de Extra
                                        </th>
                                        <th>
                                            Marque opciones
                                        </th>
                                    </tr>
                                    @foreach (var item in Model.dtoE)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.nombreExtra)
                                            </td>
                                            <td>
                                                <input type="checkbox" name="extras" value="@item.nombreExtra" />
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Aplicar extras</button>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
    <br />
    <div class="form-group">
        <input type="hidden" name="genericaEspecifica" value="false" />
        <button type="submit" class="btn btn-lg btn-success" onclick="return verificarInputs();">Aplicar Filtros</button>
    </div>

</form>
    <br />
    <br />
    <h1>Aquí podría mostrarse un sector con las publicaciones del plan premium</h1>
</div>

@section scripts{
    <script>
        // This example adds a search box to a map, using the Google Place Autocomplete
        // feature. People can enter geographical searches. The search box will return a
        // pick list containing a mix of places and predicted search terms.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
        function initAutocomplete() {
            document.getElementById('busquedaEspecifica').style.display = "none";
            var marker;
            var cityCircle;
            var contadorMarcadores = 0;
            var latLong = new google.maps.LatLng(-34.0000000, -64.000000);
            var mapOptions = {
                zoom: 4,
                center: latLong
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            map.setMapTypeId('hybrid');

            var input = document.getElementById('pac-input');

            var options = {
                types: ['(cities)'],
                componentRestrictions: { country: 'ar' }
            };
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(input);
            var autocomplete = new google.maps.places.Autocomplete(input, options);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                document.getElementById('busquedaEspecifica').style.display = "block";
                var place = autocomplete.getPlace();

                map.setCenter(place.geometry.location);
                map.setZoom(12);
                var myLatLng = { lat: place.geometry.location.lat(), lng: place.geometry.location.lng() };
                if (contadorMarcadores == 0) {
                    marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: place.formatted_address,
                        draggable: false,
                        icon: "/Icons/ojoIcono.png"
                    });
                    cityCircle = new google.maps.Circle({
                        strokeColor: '#FF0000',
                        strokeOpacity: 0,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0,
                        map: map,
                        center: myLatLng,
                        radius: 3 * 1000,
                        draggable: false
                    });
                } else {
                    marker.setMap(null);
                    cityCircle.setMap(null);
                    marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: place.formatted_address,
                        draggable: false,
                        icon: "/Icons/ojoIcono.png"
                    });
                    cityCircle = new google.maps.Circle({
                        strokeColor: '#FF0000',
                        strokeOpacity: 0,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0,
                        map: map,
                        center: myLatLng,
                        radius: 3 * 1000,
                        draggable: false
                    });
                }

                contadorMarcadores = contadorMarcadores + 1;

                var selectRadio = document.getElementById("selectRadio");


                selectRadio.addEventListener('change', function () {
                    if ($('#selectRadio').val() == -1) {
                        marker.setDraggable(false);
                        cityCircle.setOptions({ fillOpacity: 0, strokeOpacity: 0 });
                    } else {
                        marker.setDraggable(true);
                        cityCircle.setOptions({ fillOpacity: 0.35, strokeOpacity: 0.3, radius: $('#selectRadio').val() * 1000 });
                        $("#lat").val(place.geometry.location.lat().toFixed(6));
                        $("#long").val(place.geometry.location.lng().toFixed(6));

                    }
                });

                google.maps.event.addListener(marker, 'dragend', function (evt) {
                    $("#lat").val(evt.latLng.lat().toFixed(6));
                    $("#long").val(evt.latLng.lng().toFixed(6));
                    cityCircle.setOptions({ center: { lat: evt.latLng.lat(), lng: evt.latLng.lng() } });
                    map.panTo(evt.latLng);
                });

            });

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYs2ZkTPnJsgVZSiiGjCMw9C81tu7JViw&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script src="~/Scripts/ValidacionesBusqueda.js" type="text/javascript"></script>
    <script src="~/Scripts/ValidacionesRealizarPublicacion.js" type="text/javascript"></script>
}
