﻿
@{
    ViewBag.Title = "CrearTipoPropiedad";
    Layout = "~/Views/Shared/MasterPanelAdministrador.cshtml";
}

@if (!String.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.ValidationSummary(false)
    </div>
}

<h2>Crear Propiedad</h2>

