﻿
@{
    ViewBag.Title = "CrearCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form action="@Url.Action("CrearCuenta","Usuario")" method="post">
                <div class="card border-dark">
                    <div class="card-header bg-dark">
                        <h1 class="text-center text-light">Registro</h1>
                    </div>
                    <div class="card-body bg-secondary text-light">
                        @if (!String.IsNullOrEmpty(ViewBag.Error))
                        {
                            <div class="alert alert-danger">
                                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="text" name="nombreUsuario" placeholder="Nombres"/>
                                
                            </div>
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="text" name="apellidoUsuario" placeholder="Apellidos" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="text" name="email" value="" placeholder="Email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="password" name="clave" value="" placeholder="Clave" />
                                <small class="text-warning">La clave debe tener al menos una letra mayúscula, un número y un carácter especial (¬/+-)</small>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="password" name="claveRepetida" value="" placeholder="Clave (otra vez)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="number" name="telefono1" value="" placeholder="Teléfono 1" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="number" name="telefono2" value="" placeholder="Teléfono 2 (opcional)" />
                            </div>
                        </div>


                        <input class="form-check-inline mb-3" type="checkbox" id="permitirSerContactadoPorPublicante" name="permitirSerContactadoPorPublicante" value="true" />
                        <input type="hidden" name="permitirSerContactadoPorPublicante" value="false" />
                        <label class="form-check-label" for="permitirSerContactadoPorPublicante">Quiero ser contactado por los publicantes.</label>
                        <br />

                        <input class="form-check-inline mb-3" type="checkbox" id="permitirSerNotificado" name="permitirSerNotificado" value="true" />
                        <input type="hidden" name="permitirSerNotificado" value="false" />
                        <label class="form-check-label" for="permitirSerNotificado">Quiero ser notificado por Propy</label>



                    </div>
                    <div class="card-footer bg-dark">
                        <center>
                            <input class="btn btn-lg btn-outline-success" type="submit" value="Enviar" />
                        </center>
                            
                        
                        
                    </div>
                </div>

            </form>
            
        </div>
        <div class="col-md-3">

        </div>
    </div>
    
</div>
